@use "global" as *;
.box__img {
  background-image: url(/images/mameta1.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include mq(md) {
  }
  @include mq(xl) {
  }
}
